/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

:root {
    /*
     * Typography
     * ======================================================================== */

    --font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

    /*
     * Layout
     * ======================================================================== */

    --max-content-width: 1000px;

    /*
     * Media queries breakpoints
     * ======================================================================== */

    --screen-xs-min: 480px;  /* Extra small screen / phone */
    --screen-sm-min: 768px;  /* Small screen / tablet */
    --screen-md-min: 992px;  /* Medium screen / desktop */
    --screen-lg-min: 1200px; /* Large screen / wide desktop */
}