@import '../../node_modules/normalize.css/normalize.css';
@import "./styles/variables.css";

/*
 * Base styles
 * ========================================================================== */


html {
    color: #222;
    font-weight: 100;
    font-size: 1em; /* ~16px; */
    font-family: var(--font-family-base);
    line-height: 1.375; /* ~22px */
}

.main.container {
    margin-top: 5em;
    width: 900px;
}

:root {
    --brand-color: #61dafb;
}


.page.grid > div > div  {
    text-align: left;
}

.root {
    background: #373277;
    color: #fff;
}

.ui.menu .item img.logo {
    margin-right: 0.5em;
}

.todoItem{
    margin-top: 10em;
}


.ui.footer.segment {
    position: fixed;
    bottom: -1rem;
    /*margin: 5em 0em 0em;*/
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 5rem;
}

.content{
    margin-top: 3em;
}
