
.earnings_search_heading {
    font-family: OpenSans-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.3;
    color: rgb(0, 0, 0);
    text-align: left;
}
.earnings_section_search {
    position: relative;
    float: left;
    width: 80%;
}
.earnings_search_input {
    height: 60px;
    font-family: OpenSans-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 2.9;
    color: #000000 !important;
    outline: none;
    border: solid 4px #00FFC7;
    padding: 5px;
    width: 100%;
}
.earnings_search_btn {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    background: #00FFC7;
}

.earnings_search_btn:hover {
    color: #000000;
}

.earning_box_section {
    margin: 70px 0!important;
}

.earning_section_heading {
    text-align: center;
    font-family: OpenSans-Bold, helvetica, verdana, sans-serif;
    font-size: 26px;
    line-height: 1.8;
}

.earning_detail_heading, .footer_info {
    margin: 30px 0 10px;
    font-family: OpenSans-Bold, helvetica, verdana, sans-serif;
    font-size: 28px;
    line-height: 1.4;
    text-align: center;
}

.each-stock-container:hover {
    background-color: #F3F3F3;
}

.stock-confidence-meter {
    font-weight: bold;
    font-size: 16px;
}

.earnings-grid-container .each-stock-container {
    margin: 3px;
    border: 5px solid #00FFC7;
    height: 117px;
    width: 117px;
    float: left;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}
.earnings-grid-container{
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.earnings-grid-container .each-stock-container > div {
    margin-bottom: 2px;
}

.stock-code > span {
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    background: #000000;
    padding: 0 5px;
    border-radius: 3px;
}
.earnings-grid-container .each-stock-container .stock-code{
    height: 22%;
}

.earnings-grid-container .each-stock-container .stock-name {
    font-size: 14px;
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    height: 2.4em;
    text-align: justify;
    padding-right: 1em;
}

.earnings-grid-container .each-stock-container .stock-price {
    text-align: right;
}

.next_stock_btn {
    border-radius: 6px;
    text-align: center;
    line-height: 38px;
    font-size: 20px;
    cursor: pointer;
    background: #00FFC7;
}
.next_stock_btn a{
    color: #ffffff;
}
.next_stock_btn a:hover{
    color: #000000;
}

.earning_detail_section {
    background: #00FFC7;
}

.earning_detail_info {
    font-size: 15px;
}

.earning_footer_section {
    margin-top: 30px !important;
    background: #00FFC7;
}

.earning_detail img {
    width: 80px;
}

.earning_detail {
    text-align: center !important;
    margin-bottom: 30px;
}

/*Media queries ------------------------------------*/

/*tablet*/
@media only screen and (max-device-width: 1023px) {
    .stock_search_heading {
        font-size: 27px;
    }
}
/*mobile*/
@media only screen and (max-device-width: 767px) {
    .stock_search_heading {
        font-size: 17px;
    }
    .earnings_search_input{
        font-size: 15px;
        height: 50px;
    }
    .earnings_search_btn{
        font-size: 13px;
        height: 50px;
        line-height: 50px;
    }
    .earnings-grid-container .each-stock-container {
        margin: 17px;
    }
    .earning_detail_info {
        font-size: 14px;
    }

}
