.calendar_img {
    text-align: center;
}
.calendar_img img {
    width: 50px;
    cursor: pointer;
}
.heading_section {
    background: #00FFC7;
}

.heading_section .heading {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #1b1b1b;
    margin: 30px 0;
    font-size: 30px;
    line-height: 1.4;
    text-align: left;
}

.call_heading_section {
    text-align: center;
}
.sticky {
    background-color: #FFFFFF;
    z-index: 100001;
}

.stock_heading_section {
    margin: 10px 0!important;
    background-color: #FFFFFF;
}

.date_section {
    background: #000000;
}

.date_section .earning_date {
    font-family: OpenSans-Bold, helvetica, verdana, sans-serif;
    font-size: 28px;
    color: #00FFC7;
    text-align: left;
}

.each-stock-container {
    border: 5px solid #00FFC7;
}

.each-stock-container:hover {
    background-color: #F3F3F3;
}

.stock-code > span {
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background: #000000;
    padding: 5px 10px;
    border-radius: 3px;
}

.analyst-opinion, .reported-revenue, .previous-revenue, .current-price, .price-target {
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
}

.earnings-row-container > .each-stock-container {
    height: 100px;
    line-height: 1.2em;
    margin-bottom: 15px;
}

.earnings-row-container .each-stock-container .stock-name-container {
    padding: 15px 10px !important;
}
.stock-code {
    height: 60%;
    text-align: left;
}

.earnings-row-container > .each-stock-container > div {
    padding: 35px 5px;
    float: left;
    height: 100%;
}
.social-sentiment-container {
    padding: 30px 5px!important;
}

.earnings-row-container > .each-stock-container > div:not(:first-child) {
    text-align: center;
}

.earnings-row-container > .each-stock-container > .stock-name-container {
    width: 20%;
    background: #00FFC7;
    cursor: pointer;
}

.earnings-row-container .each-stock-container .stock-name {
    margin-left: 5%;
    font-size: 14px;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (2) */
    height: 2.4em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    padding-right: 1em;
    word-break: break-word;
}

.earnings-row-container .each-stock-container .stock-name:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}

.earnings-row-container .each-stock-container .stock-name:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 2em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: #00FFC7;
}
.stock-row-heading-container > .each-stock-heading-container > div {
    float: left;
    height: 100%;
    text-align: center;
}
.stock-row-heading-container .each-stock-heading-container .dummy-heading {
    width: 20%;
}
.each-stock-heading-container {
    font-size: 14px;
    font-weight: 600;
}
.stock-row-heading-container .each-stock-heading-container .first-headings, .earnings-row-container > .each-stock-container > .analyst-opinion-container, .earnings-row-container > .each-stock-container > .social-sentiment-container, .earnings-row-container > .each-stock-container > .reported-revenue-container {
    width: 12%;
}

.stock-row-heading-container .each-stock-heading-container .middle-heading, .earnings-row-container > .each-stock-container > .previous-revenue-container {
    width: 16%;
}

.stock-row-heading-container .each-stock-heading-container .last-headings, .earnings-row-container > .each-stock-container > .price-target-container, .earnings-row-container > .each-stock-container > .current-price-container {
    width: 14%;
}

.earnings-row-container .social-sentiment {
    cursor: pointer;
    font-size: 70px;
}

.green {
    color: #34cd34;
}

.red {
    color: #ff0000;
}

.loading {
    text-align: center;
    font-size: 17px;
}
.loading img{
    width: 60px;
}
.loading_more {
    margin-left: 2%;
    font-size: 17px;
    color: #b6b6b6;
}


/*Tablet*/
@media only screen and (max-device-width: 1023px) {
    .each-stock-heading-container, .earnings-row-container .each-stock-container .stock-name {
        font-size: 12px;
    }
    .date_section .earning_date {
        font-size: 22px;
    }

    .earnings-row-container > .each-stock-container, .earnings-row-container > .each-stock-container > .stock-name-container {
        font-size: 13px;
    }
}

/*Mobile*/
@media only screen and (max-device-width: 767px) {
    .logo {
        text-align: center;
    }
    .heading_section .heading {
        margin: 14px 0;
        font-size: 23px;
    }
    .each-stock-heading-container {
        font-size: 9px;
    }
    .date_section .earning_date {
        font-size: 20px;
    }
    .earnings-row-container .each-stock-container .stock-name {
        font-size: 8px;
    }
    .analyst-opinion, .reported-revenue, .previous-revenue, .current-price, .price-target {
        font-size: 12px;
    }
    .earnings-row-container .social-sentiment {
        font-size: 36px;
    }
    .social-sentiment-container {
        padding: 33px 0!important;
    }
    }