.title_section {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    margin-bottom: 70px;
}
.title {
    font-family: OpenSans-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    line-height: 1.2;
    color: #00ffc7;
    margin: 40px 0!important;
}
.content {
    font-family: OpenSans-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 1.7;
    color: #000000;
}
.question {
    font-family: OpenSans-Bold, helvetica, verdana, sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.answer {
    margin-bottom: 35px!important;
    text-align: justify;
    opacity: 0.8;
}
.stockal_video {
    height: 550px;
    margin-bottom: 30px!important;
}
 .embed-responsive-item {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
 /*  - - - - - - Enterprise - - - - - -  */
.enterprise_section{
    background-image: url('./../../../public/assets/images/enterprisebgimg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-color: #50e3c2;
    height: 415px;
}
.india_section{
    background-image: url('./../../../public/assets/images/wallstreetgrey.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0!important;
}
.enterprise_title {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 51px;
    font-weight: 700;
    letter-spacing: -0.6px;
    color: #1b1b1b;
    margin: 100px 0 30px;
}
.us_stock_heading {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.6px;
    color: #1b1b1b;
    background-color: #ddd;
    opacity: 0.8;
    line-height: 1.0;
    width: auto;
    padding: 0 5px;
}
.enterprise_subtitle {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    line-height: 1.15;
    font-weight: 300;
    color: #000000;
}
.us_stock_subheading {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 29px;
    font-weight: 300;
    line-height: 1.1;
    color: #000000;
    background-color: #ddd;
    opacity: 0.8;
    width: auto;
    padding: 0 5px;
}
.contact_section{
    background-color: #f8f8f8;
}
.contact_title {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: -0.2px;
    color: #000000;
    margin: 20px 0 10px;
}
.input_boxes {
    width: 100%;
    height: 50px;
    border: none;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.32;
    color: #000000;
    outline: none;
    padding: 15px;
}
.sub_button {
    width: 100%;
    height: 50px;
    background-color: #50e3c2;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
}
.section_title {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 49px;
    font-weight: 700;
    text-align: center;
    color: #50e3c2;
}
.section_subtitle {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
}
.section_italic {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.icon {
    text-align: center;
    height: 150px;
    margin-top: 50px;
}
.india_icon_section{
    text-align: center;
    margin-top: 50px;
    padding: 0 30px;
}
.icon_title {
    line-height: 1.2;
    font-size: 20px;
    font-weight: bold;
}

.icon_desc {
    font-size: 16px;
}
.section{
    padding: 40px 0!important;
}
.bg-pink{
    background-color: #f8f8f8;
}
.section-margin{
    margin-bottom: 5px !important;
}
.section_heading {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -0.4px;
    line-height: 1.39;
}
.section_content {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.45;
}
.section_picture img{
    width: 100%;
}
.popup_link {
    text-decoration: underline;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    letter-spacing: -0.9px;
    color: #000000;
    cursor: pointer;
    text-align: center;
    margin: 25px 0;
}
.popup-overlay {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    z-index: 10000;
    opacity: 0.975;
    height: 100%;
    overflow-x: hidden;
}
.popup-segment-overlay{
    display:none;
}
.popup-segment-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    height: 100%;
    overflow-x: hidden;
}

.popup-segment-container .segment{
    padding: 20px 60px;
}

.popup-segment-container .segment.success{
    height: 340px;
}

.closeimg {
    position: fixed;
    top: 25px;
    right: 40px;
    z-index: 10002;
    cursor: pointer;
    width: 20px;
}

.segment-head {
    font-size: 25px;
    font-weight: bold;
}

.popup-content {
    margin-top: 15px;
}
.popup-content.referral-link {
    text-align: center;
}

.social-button {
    width: 100%;
    margin: 5px 0;
    padding: 7px;
    line-height: 30px;
    font-size: 17px;
    text-align: left;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
}

.social-button.google-button {
    background: #4285f4;
}

.social-button.facebook-button {
    background: #3b5998;
}

.social-button > i {
    float: left;
    margin-right: 30px;
    padding: 5px;
    font-size: 20px;
    background: #FFF;
    width: 32px;
    text-align: center;
    border-radius: 3px;
}

.social-button.google-button > i {
    color: #4285f4;
}

.social-button.facebook-button > i {
    color: #3b5998;
}

.share-links {
    margin: 15px -20px;
    height: 40px;
}

.share-links > a, .share-links > div {
    float: left;
    width: 23%;
    padding: 5px;
    margin: 0 1%;
    background: #2dc2c5;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.share-links > a > i,.share-links > div > i{
    margin: 5px 5px 5px 0;
}

.action-buttons{
    margin-top: 15px;
}

.action-buttons > div {
    width: 40%;
    margin: 0 5%;
    padding: 10px;
    color: #FFFFFF;
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: pointer;
    border-radius: 3px;
    float: left;
    text-align: center;
}

.countContainer {
    padding: 25px!important;
    position: fixed;
    left: 0;
    right: 0;
    width: 99.99%;
    background: #FFFFFF;
    z-index: 10001;
}

.qCircle {
    width: 39px;
    height: 39px;
    background-color: #d7dad9;
    float: left;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-left: 5px;
    padding-top: 10px;
}

.qCircle.activeQ {
    width: 44px;
    height: 44px;
    background-color: #00ffc7;
    padding-top: 12px;
    margin-top: -2px;
    font-size: 17px;
}

.qRow {
    /*opacity: .1;*/
    margin-top: 20px;
}
.question-content{
    opacity: 0.2;
}
.question-content.active{
    opacity: 1;
}

.questionsection {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -0.5px;
    color: #000000;
    margin-top: 130px;
}
.questioninput input, .questioninput textarea {
    border: none;
    border-bottom: solid 1px #000000;
    outline: none;
    width: 80%;
    font-size: 30px;
    margin: 15px 0 0 30px;
}

.questioninput textarea {
    height:80px;
    resize: none;
    line-height: 1.25;
}

.questioninput > span, .questionBtn > span {
    /*margin-left:17px;*/
    font-size: 11px;
    color: #000;
}
.popup_form_error {
    color: red;
    font-size: 11px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.questioninput .popup_form_error{
    margin-left: 30px;
}

.questionBtn {
    text-align: center;
    margin: 100px 0;
}
.input_enter{
    font-weight: bold;
}
.enterprise_popup_show{
    display: block;
}
.sociallogin_popup_show{
    display: block;
}

.slider-message{
    overflow-y: hidden;
    max-height: 0;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider-message-active{
    max-height: 100px;
}

.button-disabled{
    opacity:0.5;
    pointer-events: none;
}
.partner_title {
    text-align: center;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    letter-spacing: -0.9px;
    font-weight: bold;
}
.partner_logo_container {
    text-align: center;
    width: 100%;
    float: left;
}
.partner_logo > img {
    margin: 20px 10px;
    height: 60px;
}
/* Media Queries */
/* ----------------------------------------------------------------------------------------------------------- */
/*Tab*/
@media only screen and (max-device-width: 1023px) and (min-device-width: 768px) {
    .stockal_video{
        height: 380px;
    }
    .enterprise_section {
        height: 250px;
    }
    .enterprise_title {
        font-size: 40px;
    }
    .enterprise_subtitle {
        font-size: 27px;
    }
    .us_stock_heading{
        font-size: 40px;
    }
    .us_stock_subheading{
        font-size: 22px;
    }
    .section-margin {
        font-size: 45px;
    }
    .section_subtitle {
        font-size: 19px;
    }
    .section_heading {
        font-size: 25px;
    }
    .section_content {
        font-size: 17px;
    }
    .india_icon_section {
        padding: 0 20px;
    }
    .icon_title {
        font-size: 17px;
    }
    .icon_desc{
        font-size: 15px;
    }
}
/*Mobile*/
@media only screen and (max-device-width: 767px) {
    .content {
        font-size: 19px;
        line-height: 1.5;
    }
    .title {
        font-size: 25px;
        margin: 25px 0;
    }
    .title_section {
        margin-bottom: 40px;
    }
    .stockal_video {
        height: 300px;
    }
    .enterprise_section{
        height: 250px;
    }
    .enterprise_title {
        font-size: 22px;
        margin: 50px 0 15px;
    }
    .enterprise_subtitle {
        font-size: 16px;
    }
    .india_section {
        padding: 20px 0!important;
    }
    .us_stock_heading {
        font-size: 27px;
    }
    .us_stock_subheading {
        font-size: 13px;
    }
    .section_title {
        font-size: 35px;
    }
    .section_subtitle {
        font-size: 16px;
    }
    .section_italic {
        font-size: 16px;
    }
    .section_heading {
        font-size: 19px;
    }
    .section_content {
        font-size: 13px;
    }
    .popup_link {
        font-size: 18px;
    }

    .questionsection {
        font-size: 20px;
    }
    .questioninput input, .questioninput textarea {
        font-size: 20px;
        margin: 15px 0 0 0;
    }
    .icon_title {
        font-size: 17px;
    }
    .icon_desc{
        font-size: 15px;
    }
    /* semantic ui value changed here to fix margin issue for mobile*/
    /*.ui.grid{*/
        /*margin: 0;*/
    /*}*/
}
