.recomm_section {
    margin: 30px 0 !important;
}

.recomm_search_heading {
    font-family: OpenSans-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.3;
    color: rgb(0, 0, 0);
    text-align: left;
}

/*.recomm_section_search {*/
/*position: relative;*/
/*float: left;*/
/*width: 75%;*/
/*}*/
.recomm_section_search .react-autosuggest__container, .stock_search_input .react-autosuggest__container {
    position: relative;
    float: left;
    width: 75%;
}

/*.recomm_search_input {*/
/*height: 60px;*/
/*font-family: OpenSans-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*font-size: 22px;*/
/*line-height: 2.9;*/
/*color: #000000 !important;*/
/*outline: none;*/
/*border: solid 4px #00FFC7;*/
/*padding: 5px;*/
/*width: 100%;*/
/*}*/
.recomm_section_search .react-autosuggest__input, .stock_search_input .react-autosuggest__input {
    height: 60px;
    font-family: OpenSans-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 2.9;
    color: #000 !important;
    outline: none;
    border: 4px solid #00ffc7;
    padding: 5px;
    width: 100%;
}

.recomm_search_btn {
    width: 25%;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    background: #00FFC7;
}

.recomm_search_btn:hover {
    color: #000000;
}

.search_btn_text {
    font-size: 18px;
}

.selected_symbols {
    margin: 10px 0;
}
.selected_symbols_title {
    font-size: 20px;
    font-weight: bold;
}