ul {
    list-style: none inside;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.search-heading_advanced {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 20px 0;
}
.back_btn_search, .show-filter-text{
    margin-top: 16px;
    font-size: 15px;
    color: #7f7f7f;
    cursor: pointer;
    border: 1px solid #efefef;
    letter-spacing: 0;
    border-radius: 3px;
    padding: 5px 5px 5px 0;
    font-weight: 400;
    width: 120px;
    text-align: center;
    float: right;
}

.back_btn_search:hover, .show-filter-text:hover {
    color: #fff;
    background: #00ffc7;
    border: 1px solid #00ffc7;
}
.search-result-container .search-heading {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 20px 5px;
}

ul {
    list-style: none inside;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.search-filter-container.hidden {
    max-height: 100px;
    margin: 0;
    opacity: 0.3;
    overflow: hidden;
    transition: max-height 1s, margin .5s, opacity 1.5s;
}

.search-filter-container.shown {
    max-height: 2000px;
    opacity: 1;
    margin: 20px 0;
    transition: max-height 1s, margin .5s, opacity 1s;
}

.search-filter-list .category.full-width {
    width: 100%;
}

.search-filter-list .category.half-width {
    width: 50%;
}

.search-filter-list .category.bg-green {
    background: #dffff8;
}

.search-filter-list .category.bg-blue {
    background: #daf4ff;
}

.search-filter-list .category.bg-purple {
    background: #fbf8ff;
}

.search-filter-list .category-header {
    position: relative;
    overflow: hidden;
    padding: 7px 0;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}

.search-filter-list {
    margin: 0;
    padding: 0
}

.search-filter-list .item {
    line-height: 20px;
    cursor: pointer;
    position: relative;
    color: #7f7f7f;
    font-size: 14px;
    float: left;
    border: 1px solid #E6E6E6;
    border-radius: 25px;
    padding: 5px 10px;
    margin: 5px;
}

.search-filter-list .category-items {
    padding: 0;
    margin-bottom: 30px !important;
}
.ratio {
    height: 130px;
}
.category-items.slider {
    padding: 25px;
}

.category.bg-green .category-items .item:hover {
    border: 1px solid #00FFC7;
    color: #00FFC7;
}

.category.bg-green .category-items .item.active {
    border: 1px solid #00FFC7;
    background-color: #00FFC7;
    color: #FFFFFF;
}

.category.bg-blue .category-items .item:hover {
    border: 1px solid #64a7c2;
    color: #64a7c2;
}

.category.bg-blue .category-items .item.active {
    border: 1px solid #64a7c2;
    background-color: #64a7c2;
    color: #FFFFFF;
}

.category.bg-purple .category-items .item:hover {
    border: 1px solid #6439b6;
    color: #6439b6;
}

.category.bg-purple .category-items .item.active {
    border: 1px solid #6439b6;
    background-color: #6439b6;
    color: #FFFFFF;
}

.search-button-container > input[type="button"] {
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    background: #00FFC7;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 20px;
}

/*slider*/
.category.bg-green .rc-slider-track {
    background-color: #00FFC7 !important;
}

.category.bg-green .rc-slider-dot, .rc-slider-dot-active {
    border-color: #00ffc7 !important;
}

.category.bg-green .rc-slider-handle, .rc-slider-handle:hover {
    border-color: #00ffc7 !important;
}

.category.bg-blue .rc-slider-track {
    background-color: #64a7c2 !important;
}

.category.bg-blue .rc-slider-dot, .rc-slider-dot-active {
    border-color: #64a7c2 !important;
}

.category.bg-blue .rc-slider-handle, .rc-slider-handle:hover {
    border-color: #64a7c2 !important;
}

.category.bg-purple .rc-slider-track {
    background-color: #6439b6 !important;
}

.category.bg-purple .rc-slider-dot, .rc-slider-dot-active {
    border-color: #6439b6 !important;
}

.category.bg-purple .rc-slider-handle, .rc-slider-handle:hover {
    border-color: #6439b6 !important;
}

.iframe-detail iframe {
    position: absolute;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 100%;
}

.rc-slider-mark-text {
    width: 10% !important;
    margin-left: -5% !important;
    margin-right: -5% !important;
}

.bg-green .rc-slider-handle-2 {
    background: #00ffc7;
}

.ratio-text {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
/* ----------------------------------------------------------------------------------------------------------- */
/*Media Queries*/
/*Tab*/
@media only screen and (max-device-width: 1023px) and (min-device-width: 768px) {
    .search-heading {
        font-size: 20px;
    }
    .search-result-container .search-heading {
        padding: 32px 5px;
    }
}
/*Mobile*/
@media only screen and (max-device-width: 767px) {
    .search-result-container .search-heading {
        font-size: 17px;
    }

    .category-header {
        padding: 3px 0;
        letter-spacing: 0.5px;
    }

    .search-filter-list .category.half-width {
        width: 100%;
    }
    .search-heading_advanced {
        text-align: center;
    }
}