ul {
    list-style: none inside;
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}

.search-heading {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 20px 5px;
}

.search-container {
    margin: 20px 0 0 0;
}

.search-container input[type="text"] {
    height: 60px;
    font-family: OpenSans-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #000000 !important;
    outline: none;
    border: none;
    border-bottom: 1px solid #00FFC7;
    padding: 5px;
    width: 100%;
}

.search-container input[type="button"] {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background: #00FFC7;
    border: none;
    outline: none;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0.3;
}
::-moz-placeholder { /* Firefox 19+ */
    opacity: 0.3;
}
:-ms-input-placeholder { /* IE 10+ */
    opacity: 0.3;
}
:-moz-placeholder { /* Firefox 18- */
    opacity: 0.3;
}

.search-data-container{
    margin-top: 50px;
}
.search-container .react-autosuggest__suggestions-container{
    display: none;
}
.autosuggest-list-container .category-header {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    padding: 7px 0;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}

.autosuggest-list-container .category-header::after {
    content: '';
    border-top: 1px solid #00FFC7;
    width: 100%;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.autosuggest-list-container, .autosuggest-list-container .category-items{
    margin: 0;
    padding: 0
}

.autosuggest-list-container .item {
    line-height: 20px;
    cursor: pointer;
    padding: 7px 10px;
    position: relative;
    color: #7f7f7f;
    letter-spacing: 1px;
    font-size: 15px;
}

.autosuggest-list-container .item .name .highlight{
    color: #000000;
    font-weight: 600;
}

.autosuggest-list-container .item.active {
    background-color: #00FFC7;
    color: #FFFFFF;
}

.stock-container {
    padding: 10px;
}

.stock-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.stock-grid-container {
    margin-bottom: 15px;
}

.stock-grid-container .each-stock-container {
    padding: 5px;
}
.each-stock-container {
    border: 5px solid #00FFC7;
}
.each-stock-container:hover {
    background-color: #F3F3F3;
}

.stock-grid-container .each-stock-container > div {
    margin: 10px 0;
}

.stock-confidence-meter {
    font-weight: bold;
    font-size: 18px;
}


.stock-code > span{
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background: #000000;
    padding: 0 5px;
    border-radius: 3px;
}

.stock-grid-container .each-stock-container .stock-name{
    font-size: 14px;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (2) */
    height: 2.4em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    padding-right: 1em;
}
.stock-grid-container .each-stock-container .stock-name:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
    word-break: break-word;
}

.stock-grid-container .each-stock-container .stock-name:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 2em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}

.stock-grid-container .each-stock-container:hover .stock-name:after{
    background: #F3F3F3;
}

.stock-grid-container .each-stock-container .stock-price{
    text-align: right;
}

.stock-price{
    font-weight: bold;
    font-size: 17px;
}

.stock-row-container  .each-stock-container{
    height: 100px;
    line-height: 1.2em;
    margin-bottom: 15px;
}

.stock-row-container  .each-stock-container > div {
    padding: 10px;
    float: left;
    height: 100%;
}

.stock-row-container  .each-stock-container > div:not(:last-child)  > div:first-child{
    height: 50%;
}

.stock-row-container  .each-stock-container > div:not(:first-child):not(:last-child) {
    text-align: center;
}

.stock-row-container  .each-stock-container > .stock-name-container {
    width: 30%;
    background: #00FFC7;
}

.stock-row-container .each-stock-container .stock-name{
    font-size: 14px;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (2) */
    height: 2.4em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    padding-right: 1em;
    word-break: break-word;
}
.stock-row-container .each-stock-container .stock-name:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}

.stock-row-container .each-stock-container .stock-name:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 2em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: #00FFC7;
}


.stock-row-container  .each-stock-container > .stock-confidence-meter-container{
    width: 19%;
}

.stock-row-container  .each-stock-container > .stock-price-container {
    width: 21%;
}

.stock-row-container  .each-stock-container > .stock-sentiment-container{
    width: 19%;
}

.stock-row-container .stock-favourite-icon-container {
    width: 11%;
    height: 100%;
}

.stock-row-container .stock-sentiment {
    font-size: 50px;
}

.stock-price-container .stock-price{

}

.stock-favourite-icon-container >.stock-favourite-icon {
    height: 100%;
    font-size: 30px;
    padding: 20px 0;
    color: #999999;
}

.see-all-button > input[type="button"] {
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    background: #00FFC7;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 20px;
}

ul.autosuggest-list-container {
    height: 650px;
    overflow-y: auto;
;
}

/*Tablet*/
@media only screen and (max-device-width: 1023px) {

    .search-container input[type="text"]{
        height: 50px;
        font-size: 22px;
    }

    .category-header {
        font-size: 13px;
    }

    .autosuggest-list-container .item{
        font-size: 13px;
    }

    .stock-container{
        padding: 10px 0;
    }

    .stock-row-container  .each-stock-container {
        font-size: 13px;
    }

    .stock-row-container  .each-stock-container > .stock-name-container {
        font-size: 13px;
    }

    .stock-row-container  .each-stock-container > .stock-confidence-meter-container > .stock-confidence-meter{
        font-size: 16px;
    }

    .stock-row-container  .each-stock-container > .stock-price-container > .stock-price{
        font-size: 16px;
    }

    .stock-row-container  .each-stock-container > .stock-sentiment-container >  .stock-sentiment{
        font-size: 40px;
    }

    .stock-row-container .stock-favourite-icon{
        font-size: 24px;
    }
}

/*Mobile*/
@media only screen and (max-device-width: 767px) {
    .search-heading {
        font-size: 15px;
        letter-spacing: 1px;
        padding: 10px 0;
    }

    .search-container input[type="text"] {
        height: 35px;
        font-size: 13px;
        padding: 0;
    }

    .search-data-container {
        margin-top: 10px;
    }

    .category-header {
        padding: 3px 0;
        letter-spacing: 0.5px;
    }

    .autosuggest-list-container .item.active {
        background-color: transparent;
        color: #7f7f7f;
    }
}