
.stock-main-container .each-stock-container{
    height: 100px;
    line-height: 1.2em;
    margin-bottom: 15px;
    border: 5px solid #75ecd2;
}
 
.stock-main-container .each-stock-container:hover {
    background-color: #F3F3F3;
}

.stock-main-container .stock-price{
    font-weight: bold;
    font-size: 17px;
}

.stock-main-container .stock-target-price{
    font-weight: bold;
    font-size: 17px;
}

.stock-main-container .stock-confidence-meter {
    font-size: 17px;
    font-weight: bold;
}

.stock-main-container .each-stock-container > div {
    padding: 10px;
    float: left;
    height: 100%;
}

/*.stock-main-container .each-stock-container > div:not(:last-child)  > div:first-child{
    height: 50%;
}*/

.stock-main-container .each-stock-container > div:not(:first-child):not(:last-child) {
    text-align: center;
}

.stock-main-container .each-stock-container > .stock-name-container, .head-name {
    width: 25%;
}

.stock-main-container .each-stock-container > .stock-name-container{
    background: #75ecd2;
}

.stock-main-container .each-stock-container .stock-name{
    font-size: 14px;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (2) */
    height: 2.4em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    padding-right: 1em;
    word-break: break-word;
}
.stock-main-container .each-stock-container .stock-name:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}

.stock-main-container .each-stock-container .stock-name:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 2em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: #75ecd2;
}

.stock-main-container .each-stock-container > .stock-confidence-meter-container, .head-confidence-meter{
    width: 16%;
}

.stock-main-container .each-stock-container > .stock-price-container, .head-price {
    width: 16%;
}

.stock-main-container .each-stock-container > .stock-target-price-container, .head-target-price {
    width: 16%;
}

.stock-main-container .each-stock-container > .stock-sentiment-container, .head-sentiment{
    width: 16%;
}

.stock-main-container .each-stock-container .stock-favourite-icon-container {
    width: 11%;
    height: 100%;
}

.stock-main-container .stock-code > span{
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background: #000000;
    padding: 0 5px;
    border-radius: 3px;
}

.stock-main-container .stock-sentiment {
    font-size: 50px;
    line-height: 55px;
}

.stock-main-container .stock-favourite-icon-container >.stock-favourite-icon {
    height: 100%;
    font-size: 30px;
    padding: 20px 0;
    color: #999999;
    text-align: center;
}

.stock-main-container .see-all-button > input[type="button"] {
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    background: #00FFC7;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 20px;
}

.stock-main-container .stock-confidence-meter, .stock-main-container .stock-price, .stock-main-container .stock-target-price{
    font-weight: 700;
    font-size: 25px;
    line-height: 60px
}

.head-name, .head-confidence-meter, .head-price, .head-sentiment, .head-target-price{
    cursor: pointer;
}

.tabsmenu{
    margin: 10px 0!important;
}

.search-result-container{
    margin-top:40px!important;
}
.result_row_loader, .result_grid_loader
{
    margin: 50px 0;
}

/*Mobile*/
@media only screen and (max-device-width: 767px) {

    .stock-main-container .each-stock-container > .stock-name-container, .head-name {
        width: 40%;
    }

    .stock-main-container .each-stock-container > .stock-confidence-meter-container, .head-confidence-meter{
        display: none;
    }

    .stock-main-container .each-stock-container > .stock-price-container, .head-price {
        width: 35%;
        font-size: 20px;
    }

    .stock-main-container .each-stock-container > .stock-target-price-container, .head-target-price {
        display: none;
    }

    .stock-main-container .each-stock-container > .stock-sentiment-container, .head-sentiment{
        display: none;
    }

    .stock-main-container .each-stock-container .stock-favourite-icon-container {
        width: 25%;
    }
}