body {
    color: #444444;
}

.single_stock {
    display: inline-block;
    height: 46px;
    border-right: 1px solid #ffffff;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    color: #ffffff;
}

.single_stock > a {
    text-decoration: none;
    color: #ffffff;
}

.single_stock:nth-child(1) {
    width: 7.75%;
    background-color: #79e7d5;
    margin-left: 0;
}

.single_stock:nth-child(2) {
    width: 7.55%;
    background-color: #40dbc2;
}

.single_stock:nth-child(3) {
    width: 7.35%;
    background-color: #54d6c2;
}

.single_stock:nth-child(4) {
    width: 7.15%;
    background-color: #47c6c2;
}

.single_stock:nth-child(5) {
    width: 6.95%;
    background-color: #45cbc2;
}

.single_stock:nth-child(6) {
    width: 6.75%;
    background-color: #64a7c2;
}

.single_stock:nth-child(7) {
    width: 6.55%;
    background-color: #717ec3;
}

.single_stock:nth-child(8) {
    width: 6.35%;
    background-color: #837fc9;
}

.single_stock:nth-child(9) {
    width: 6.15%;
    background-color: #7d5bc3;
}

.single_stock:nth-child(10) {
    width: 5.95%;
    background-color: #7d5bc3;
}

.single_stock:nth-child(11) {
    width: 5.75%;
    background-color: #6a42b7;
}

.single_stock:nth-child(12) {
    width: 5.55%;
    background-color: #6439b6;
}

.single_stock:nth-child(13) {
    width: 5.35%;
    background-color: #6439b6;
}

.single_stock:nth-child(14) {
    width: 5.15%;
    background-color: #482883;
}

.single_stock:nth-child(15) {
    width: 4.95%;
    background-color: #482883;
}

.single_stock:nth-child(16) {
    width: 4.75%;
    background-color: #482883;
    border: none;
}

.bg-green {
    background-color: #f5fcfb;
}

.stock_name .stock_symbol {
    font-family: OpenSans-Bold;
    font-size: 22px;
    line-height: 1.8;
}

.stock_name .stock_full_name {
    margin-top: -5px;
}

.stock_price_container {
    padding-top: 15px;
}

.stock_price .currency_symbol {
    font-size: 13px;
}

.stock_price .amount {
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
}

.stock_price_details img {
    padding-top: 14px;
    width: 25px;
    float: left;
}

.stock_price_details_text {
    padding-top: 17px;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    float: left;
}

.stock_price_details .chart_link {
    text-decoration: underline;
    cursor: pointer;
}

.favorite_icon {
    font-size: 22px;
    float: left;
    padding: 10px 9px;
}

.stocks_top_search .react-autosuggest__container {
    position: relative;
}

.stocks_top_search {
    padding-top: 10px;
}

.stocks_top_search .react-autosuggest__input {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: none;
    font-family: OpenSans-Regular, helvetica, verdana, sans-serif;
    font-size: 12px;
    padding: 0 12px;
}

.stocks_top_search .react-autosuggest__input:focus {
    outline: none;
}

.stocks_top_search .react-autosuggest__suggestions-container {
    display: none;
}

.stocks_top_search .react-autosuggest__container--open .react-autosuggest__suggestions-container {
    display: block;
    position: absolute;
    top: 40px;
    width: 100%;
    border: 1px solid #d4d4d4;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
}

.stocks_top_search .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.stocks_top_search .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid #d4d4d4;
}

.stocks_top_search .react-autosuggest__suggestion:last-child {
    border-bottom: none;
}

.stocks_top_search .react-autosuggest__suggestion--focused {
    background-color: #ddd;
}

.search_icon {
    position: absolute;
    right: 12px;
    top: 35px;
    font-size: 20px;
    cursor: pointer;
}

.divider-white {
    border-color: #FFFFFF !important;
}

.infographic {
    height: 100px;
    cursor: pointer;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #F5FCFB;
    position: absolute;
    bottom: -20px;
    right: 38px;
}

.infographic_text {
    font-family: OpenSans-Light, helvetica, verdana, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    color: #888888;
    float: left;
    width: 180px;
    text-align: right;
    padding: 10px;
}

.infographic_circle {
    height: 72px;
    width: 72px;
    border: 3px solid #555555;
    border-radius: 50%;
    text-align: center;
    float: left;
}

.confidence_meter .infographic_circle {
    font-size: 20px;
    padding-top: 22px;
}

.confidence_meter .infographic_circle .suggestion {
    font-size: 12px;
    margin-top: 25px;
}

.revenue_prediction .infographic_circle.border_green {
    padding-top: 20px;
}

.revenue_prediction .infographic_circle.border_red {
    padding-top: 25px;
}
.revenue_prediction i {
    font-size: 50px;
}

.revenue_prediction .infographic_circle.border_green.green .no_value {
    font-size: 17px;
    padding-top: 3px;
}

.social_media_pulse .infographic_circle {
    font-size: 12px;
}

.social_media_pulse .infographic_circle .suggestion {
    font-size: 12px;
    margin-top: 15px;
    line-height: 10px;
}

.social_media_pulse img {
    margin-top: 10px;
    height: 23px;
}

.news_sentiment .infographic_circle {
    padding-top: 22px;
    font-size: 17px;
}

.news_sentiment i {
    font-size: 25px;
    margin: 0;
}

.green {
    color: #7ed321;
}

.red {
    color: #f95b25;
}

.border_green {
    border-color: #7ed321;
}

.border_red {
    border-color: #f95b25;
}

.info_container {
    height: 660px;
    /*overflow: hidden;*/
    /*padding-top: 20px !important;*/
}

.infocontent_hide {
    display: none;
}

.infocontent_load {
    height: 300px;
    border: none !important;
    margin-top: 25px !important;
}

.article_left_container {
    padding-right: 15px;
    width: 100%;
}

.article_left_container.scrollable {
    overflow-y: auto;
    height: 575px;
}

.article_details {
    display: flex;
    padding: 25px 2%;
    cursor: pointer;
    border-top: 1px solid #d4d4d4;
    background-color: #fcfcfc;
}

.article_details:hover, .article_details.article_selected {
    background-color: #F6F6F6;
}

.article_details:last-child {
    border-bottom: 1px solid #d4d4d4;
}

.author_initial {
    width: 20%;
    padding-left: 2%;
}

.author_initial .author_initial_circle {
    float: left;
    width: 40px;
    height: 40px;
    border: 2px solid #EFEFEF;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    margin-right: 10px;
}

.article_title_time {
    width: 80%;
    padding-left: 2%;
}

.article_title_time .article_title {
    font-weight: bold;
    word-break: break-word;
}

.article_title_time .article_time {
    font-size: 12px;
    color: #888888;
    margin-top: 10px;
}

.article_right_container .article_title {
    font-family: OpenSans-bold, helvetica, verdana, sans-serif;
    font-size: 22px;
    line-height: 1.2em;
    float: left;
    width: 100%;
    height: 3.6em;
}

.article_right_container .article_author {
    font-family: OpenSans-Light, helvetica, verdana, sans-serif;
    font-size: 14px;
}

.article_right_container .article_time {
    font-family: OpenSans-Light, helvetica, verdana, sans-serif;
    font-size: 12px;
    color: #888888;
}

.article_right_container .article_content {
    font-family: OpenSans-Light, helvetica, verdana, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #888888;
    text-align: justify;
    padding-right: 10px;
}

.article_right_container .article_content_parent {
    height: 460px;
    margin-top: 15px;
    overflow-y: auto;
    padding-right: 10px;
}

.heading_container {
    width: 100%;
    margin: 30px 0;
}
.nodata_container .heading_container {
    margin: 40px 0;
}

.ratio_table_section .heading_container {
    margin: 30px 0 0!important;
}
.ratio_table_content {
    margin-bottom: 30px!important;
}

.article_heading {
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}

.chart_container .heading_container .article_heading {
    padding: 10px;
    margin-left: 25%
}

.revenue_container .heading_container .article_heading {
    padding: 10px 0;
}

.appshare_section {
    background-color: #ffffff;
    border: solid 6px #50e3c2;
    margin: 30px 0 0 !important;
}
.nodata_section {
    background-color: #ffffff;
    border: solid 6px #50e3c2;
    margin: 30px 0 !important;
}

.right_globeicon {
    display: inline-block;
    float: right;
    margin-right: 2%;
    color: #aaa;
}

.appshare_title, .nodata_title {
    font-family: OpenSans-Extrabold, helvetica, verdana, sans-serif;
    font-size: 25px;
    line-height: 0.9;
    color: #50e3c2;
    margin-top: 20px;
}

.appshare_desc, .nodata_desc {
    font-family: OpenSans-Semibold, helvetica, verdana, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #50e3c2;
    margin-top: 6px;
}

.nodata_title, .nodata_desc {
    padding: 0 20px 10px;
}

.appshare_img_section > a {
    margin-right: 20px;
}

img.appshare_img {
    width: 115px;
    border-radius: 3px;
}

.source {
    font-family: OpenSans-Light, helvetica, verdana, sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.source > * {
    margin: 0 10px 0 0 !important;
    float: left;
}

.source > img {
    height: 18px;
}

.mobile_show {
    display: none;
}

.chart_mobile_show {
    display: block;
}

.chart_close img {
    float: right;
    width: 25px;
    cursor: pointer;
    margin: 10px 20px 0;
}

.trending-progress {
    background-color: #f5fcfb;
    height: 46px;
    position: relative;
}

.trending-progress-bar {
    background-size: 100%;
    height: 100%;
    position: relative;
    background-image: linear-gradient(60deg, #79e7d5, #45cbc2, #837fc9, #6a42b7);
    background-image: -o-linear-gradient(60deg, #79e7d5, #45cbc2, #837fc9, #6a42b7);
    background-image: -ms-linear-gradient(60deg, #79e7d5, #45cbc2, #837fc9, #6a42b7);
    background-image: -webkit-linear-gradient(60deg, #79e7d5, #45cbc2, #837fc9, #6a42b7);
    background-image: -moz-linear-gradient(60deg, #79e7d5, #45cbc2, #837fc9, #6a42b7);
    animation: cssload-width 5s cubic-bezier(0.45, 0, 1, 1) infinite;
    -o-animation: cssload-width 5s cubic-bezier(0.45, 0, 1, 1) infinite;
    -ms-animation: cssload-width 5s cubic-bezier(0.45, 0, 1, 1) infinite;
    -webkit-animation: cssload-width 5s cubic-bezier(0.45, 0, 1, 1) infinite;
    -moz-animation: cssload-width 5s cubic-bezier(0.45, 0, 1, 1) infinite;
}

@keyframes cssload-width {
    0%, 100% {
        transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-o-keyframes cssload-width {
    0%, 100% {
        -o-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-ms-keyframes cssload-width {
    0%, 100% {
        -ms-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes cssload-width {
    0%, 100% {
        -webkit-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes cssload-width {
    0%, 100% {
        -moz-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.info-loading {
    border: none;
    border-top: 2px solid #7ed321;
    border-bottom: 2px solid #f95b25;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    -webkit-background-size: 1px 100%;
    -moz-background-size: 1px 100%;
    background-size: 1px 100%;
    background-image: -webkit-linear-gradient(top, #7ed321 0%, #f95b25 100%), -webkit-linear-gradient(top, #7ed321 0%, #f95b25 100%);
    background-image: -moz-linear-gradient(top, #7ed321 0%, #f95b25 100%), -moz-linear-gradient(top, #7ed321 0%, #f95b25 100%);
    background-image: -o-linear-gradient(top, #7ed321 0%, #f95b25 100%), -o-linear-gradient(top, #7ed321 0%, #f95b25 100%);
    background-image: linear-gradient(to bottom, #7ed321 0%, #f95b25 100%), linear-gradient(to bottom, #7ed321 0%, #f95b25 100%);
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.price-history-container_revenue {
    height: 450px;
    width: 100%;
}

.price-history-container_revenue .recharts-legend-wrapper {
    position: relative !important;
}

.recharts-wrapper .recharts-y-axis .recharts-cartesian-axis-ticks .recharts-cartesian-axis-tick:first-child {
    display: none !important;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.No_data {
    text-align: center;
    color: #b94a48;
    margin: 25%;
}

.ir_chart_container {
    height: 500px;
    width: 100%;
}

.legend_section {
    margin: 10px 0 !important;
}

.legend_text {
    text-align: center;
    margin-left: 20%;
}

.legend_value {
    float: left;
    font-weight: 700;
    width: 20%;
}

.graph_title_section {
    margin-bottom: 20px !important;
}

.graph_title_each {
    margin: 10px 0;
    cursor: pointer;
}

.commodity_section {
    padding-top: 10px;
    text-align: center;
}

.commodity_selection {
    cursor: pointer;
    background: #0088cc;
    color: #FFF;
    box-shadow: inset 0 0 5px rgba(000, 000, 000, 0.5);
    width: 200px;
    height: 30px;
    outline: none;
}

.graph-btn {
    height: 20px;
    width: 20px;
    float: left;
    background: #EFEFEF;
    margin: 0 10px 0 0;
    border-radius: 10px;
    border: 3px inset #6a42b7;
}

.graph-btn.active {
    background: #00FFC7;
}

.first_column, .second_column {
    padding: 4px 0;
    margin-right: -20px !important;
}

.first_column .table_content {
    padding: 15px 10px 15px 3px;
    background-color: #e2faf5;
    font-size: 19px;
    font-style: normal;
    font-stretch: normal;
    text-align: right;
    color: #000000;
}

.second_column .table_content {
    padding: 15px 10px;
    background-color: #f5f5f5;
    text-align: left;
    font-size: 19px;
    font-weight: bold;
    color: #000000;
}

/* ----------------------------------------------------------------------------------------------------------- */
/*Media Queries*/
/*Tab*/
@media only screen and (max-device-width: 1023px) and (min-device-width: 768px) {
    .single_stock {
        font-size: 10px;
        width: 6.25% !important;
    }

    .infographic_text {
        width: 86px;
        padding: 21px 2px;
        font-size: 13px;
    }

    .trending-progress-bar {
        animation: cssload-width 4s cubic-bezier(0.45, 0, 1, 1) infinite;
        -o-animation: cssload-width 4s cubic-bezier(0.45, 0, 1, 1) infinite;
        -ms-animation: cssload-width 4s cubic-bezier(0.45, 0, 1, 1) infinite;
        -webkit-animation: cssload-width 4s cubic-bezier(0.45, 0, 1, 1) infinite;
        -moz-animation: cssload-width 4s cubic-bezier(0.45, 0, 1, 1) infinite;
    }

    .appshare_title {
        margin-top: 27px;
        font-size: 21px;
        line-height: 0.8;
    }

    .appshare_desc {
        font-size: 13px;
        line-height: 1.2;
    }

    .apple_img img {
        margin-top: 15px;
        width: 100%;
    }

    .android_img img {
        width: 100%;
    }

    .stock_price_details_text {
        padding-top: 13px;
    }
    .stock_price_details img {
        padding-top: 10px;
    }
}

/*Mobile*/
@media only screen and (max-device-width: 767px) {
    .single_stock {
        font-size: 10px;
        width: 12.5% !important;
    }

    .single_stock:nth-child(8) {
        border: none;
    }

    .info_container, .chart_container, .nodata_container {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10001;
        background-color: #FFFFFF;
        position: fixed;
        height: 100%;
    }
    .revenue_container {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 99999!important;
        background-color: #FFFFFF;
        position: fixed;
        overflow: scroll;
    }
    .revenue_container .price-history-container, .chart_container .price-history-container {
        display: table;
        height: 300px;
        width: 90%;
        margin: 30px auto;
    }
    .price-history-container_revenue {
        height: 350px;
    }

    .mobile_hide {
        display: none !important;
    }

    .mobile_show {
        display: block !important;
    }

    .infocontent_load {
        display: none;
    }

    .article_left_container {
        padding: 0 1px;
    }

    .article_left_container.scrollable {
        overflow: scroll;
        height: calc(100% - 35px);
        margin: 40px 0 0;
    }

    .article_content_parent.scrollable {
        position: fixed;
        height: calc(100% - 200px);
    }

    .article_right_container {
        height: auto;
        overflow: inherit;
        padding: 0 3%;
    }

    .article_right_container .article_title {
        font-size: 16px;
        line-height: 20px;
    }

    .article_right_container .article_content {
        font-size: 12px;
    }

    .article_right_container .article_author {
        font-size: 12px;
    }

    .article_right_container .article_time {
        font-size: 10px;
    }

    .article_title_time {
        width: 100%;
    }

    .article_details {
        padding: 10px 2%;
    }

    .appshare_title, .nodata_title {
        font-size: 20px;
    }

    .back_link {
        color: inherit;
        cursor: pointer;
        font-size: 25px;
        float: left;
        padding-left: 2%;
        position: fixed;
    }

    .article_heading {
        font-size: 18px;
        text-align: center;
    }

    .revenue_container .heading_container .article_heading, .chart_container .heading_container .article_heading {
        padding: 0;
        margin-left: 0;
    }

    .article_close img {
        position: fixed;
        width: 20px;
        right: 15px;
        cursor: pointer;
        top: 30px;
        z-index: 10003;
    }

    .chart_close img {
        width: 20px;
        right: 15px;
        top: 10px;
        z-index: 10003;
        position: fixed;
        margin: 0;
    }

    .source {
        font-size: 12px;
    }

    .article_title {
        font-size: 12px;
        font-weight: 600;
    }

    .article_title_time .article_time {
        font-size: 10px;
    }

    .bottom_menu1, .bottom_menu2, .social, .email, .register {
        text-align: center !important;
    }

    .trending-progress-bar {
        animation: cssload-width 3s cubic-bezier(0.45, 0, 1, 1) infinite;
        -o-animation: cssload-width 3s cubic-bezier(0.45, 0, 1, 1) infinite;
        -ms-animation: cssload-width 3s cubic-bezier(0.45, 0, 1, 1) infinite;
        -webkit-animation: cssload-width 3s cubic-bezier(0.45, 0, 1, 1) infinite;
        -moz-animation: cssload-width 3s cubic-bezier(0.45, 0, 1, 1) infinite;
    }

    .ir_chart_container {
        height: 350px;
    }
    .ir_chart_container .recharts-legend-wrapper{
        bottom: 0!important;
    }
    .stock_price_details_text {
        padding-top: 2px;
        font-size: 10px;
    }
    .stock_price_details img {
        padding: 0;
    }
    .commodity_selection {
        width: 170px;
    }
    .commodity_section {
        padding: 0;
    }
    .first_column .table_content, .second_column .table_content{
        font-size: 15px;
    }
}