    @font-face {
    src: url("fonts/OpenSans-Light.ttf");
    font-family: 'OpenSans-Light';
}

@font-face {
    src: url("fonts/OpenSans-Regular.ttf");
    font-family: 'OpenSans-Regular';
}

@font-face {
    src: url("fonts/OpenSans-Bold.ttf");
    font-family: 'OpenSans-Bold';
}

@font-face {
    src: url("fonts/OpenSans-Semibold.ttf");
    font-family: 'OpenSans-Semibold';
}

@font-face {
    src: url("fonts/OpenSans-ExtraBold.ttf");
    font-family: 'OpenSans-Extrabold';
}

@font-face {
    src: url("fonts/helveticaneue-lt.ttf");
    font-family: 'HelveticaNeue-Light';
}

::-webkit-input-placeholder {
    text-transform: initial;
}

:-moz-placeholder {
    text-transform: initial;
}

::-moz-placeholder {
    text-transform: initial;
}

:-ms-input-placeholder {
    text-transform: initial;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.noMrgin {
    padding: 0;
    margin: 0;
}

.green {
    color: #34cd34;;
}

.red {
    color: #ff0006;
}

.header_section {
    padding: 10px 0 !important;
}

.header_section.active_enterprise {
    background-color: #50e3c2;
}

.logo img {
    width: 170px;
    cursor: pointer;
    margin-top: 9px;
}

.nav_item {
    font-size: 12px;
    color: #000000;
    margin-left: 40px;
    font-weight: 600;
    cursor: pointer;
}
.nav_item:first-child{
    margin-left: 0;
}

.nav_menuitem {
    margin-top: 25px;
    text-align: right;
}

a.item.nav_item.active {
    border-bottom: solid 3px #1b1b1b;
    font-family: OpenSans-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section_space {
    height: 50px;
}

.hero_section_heading {
    font-family: OpenSans-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    line-height: 0.9;
    letter-spacing: -0.6px;
    color: #00ffc7;
    margin-top: 150px;
}

.hero_section_subheading {
    font-family: OpenSans-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 1.2;
    margin-top: 20px;
}

.hero_section_search {
    margin-top: 80px;
}

.hero_section_search .search_btn, .stock_search_input .search_btn {
    width: 20%;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    background: #00FFC7;
}

::-webkit-input-placeholder {
    color: #000;
}

.hero_section_search .react-autosuggest__container, .stock_search_input .react-autosuggest__container {
    position: relative;
    float: left;
    width: 80%;
}

.hero_section_search .react-autosuggest__input, .stock_search_input .react-autosuggest__input {
    height: 60px;
    font-family: OpenSans-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 2.9;
    color: #000000 !important;
    outline: none;
    border: solid 4px #00FFC7;
    padding: 5px;
    width: 100%;
}

.hero_section_search .react-autosuggest__input:focus, .stock_search_input .react-autosuggest__input:focus {
    outline: none;
}

.hero_section_search .react-autosuggest__suggestions-container, .stock_search_input .react-autosuggest__suggestions-container {
    display: none;
}

.hero_section_search .react-autosuggest__container--open .react-autosuggest__suggestions-container, .stock_search_input .react-autosuggest__container--open .react-autosuggest__suggestions-container {
    display: block;
    position: absolute;
    top: 60px;
    width: 100%;
    border: 1px solid #d4d4d4;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid #d4d4d4;
}

.react-autosuggest__suggestion:last-child {
    border-bottom: none;
}

.react-autosuggest__suggestion--focused {
    background-color: #ddd;
}

.hero_section_spiral img {
    float: right;
}

.apppromo_section {
    background-color: #00ffc7;
    cursor: pointer;
    padding: 35px 0 !important;
    color: #000000;
}

.app_link {
    text-decoration: underline;
    font-size: 28px;
    font-family: OpenSans-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
}

.app_statement {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-top: 25px;
    text-align: center;
}

.trending_header {
    font-family: OpenSans-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 3.5;
    height: 20px;
    margin-top: 50px;
}

.trending_sub_header {
    text-align: right;
    margin: 20px 0 0 !important;
}

.trending_container {
    padding: 0;
    position: relative;
}

.trending_box_link, .trending_box_link:hover, .trending_box_link:active {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.trending_box {
    background-color: #fff;
    float: none;
    display: inline-block;
}

.trending_box_gray {
    background-color: gray;
}

.trending_box.trending_box_white_border {
    border: 3px solid #ffffff;
}

.trending_box_green_border {
    border: 3px solid #00ffc7;

}

.trending_box:hover {
    background-color: #f3f3f3;
}

.trending_box[data-index="0"] {
    height: 332px;
}

.trending_box[data-index="1"] {
    height: 265px;
}

.trending_box[data-index="2"] {
    height: 199px;
}

.trending_box[data-index="3"] {
    height: 199px;
}

.trending_box[data-index="4"] {
    height: 199px;
}

.trending_box[data-index="5"] {
    height: 153px;
}

.trending_box[data-index="6"] {
    height: 153px;
}

.trending_box[data-index="7"] {
    height: 153px;
}

.trending_box[data-index="8"] {
    height: 172px;
}

.trending_box[data-index="9"] {
    height: 172px;
}

.trending_box[data-index="10"] {
    height: 272px;
}

.trending_box[data-index="11"] {
    height: 142px;
}

.trending_box[data-index="12"] {
    height: 130px;
}

.trending_box[data-index="13"] {
    height: 148px;
}

.trending_box[data-index="14"] {
    height: 148px;
}

.trending_box[data-index="15"] {
    height: 148px;
}

.trending_box_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 158px;
    height: 140px;

}

.trending-transition-appear {
    opacity: 0.01;
}

.trending-transition-appear.trending-transition-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.invisible {
    visibility: hidden;
}

.left_container {
    width: 40%;
    margin-top: 15px;
    padding: 2px !important;
    height: 70px;
    float: left;
}

.right_container {
    width: 60%;
    margin-top: 15px;
    padding: 2px !important;
    height: 70px;
    float: left;
}

.trending_box .confidence_meter {
    font-family: OpenSans-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
}

.trending_box .symbol {
    font-family: OpenSans-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    height: 26px;
    margin-top: 15px;
}

.trending_box .symbol span {
    background-color: #1b1b1b;
    padding: 0 5px;
    border-radius: 3px;
}

.trending_box .price {
    font-size: 22px;
    font-family: OpenSans-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: right;
}

.trending_box .price_change {
    font-size: 16px;
    text-align: right;
    margin-top: 15px;
}

.trending_box .name {
    font-family: OpenSans-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
}

.toprightbox {
    margin-right: -1px;
}

.infographic_section {
    font-family: OpenSans-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 1.4;
    text-align: center;
}

.infographic_section_heading {
    margin: 35px 0;
    text-align: center !important;
}

.infographic_section img {
    max-width: 100%;
}

.infographic_section .chevron {
    height: 263px;
    position: relative;
}

.infographic_section .chevron img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.download_section {
    background: url('../images/zig_zig_pattern.png');
    background-repeat: repeat-y;
    background-size: contain;
    background-position: 0 100%;
    margin: 40px 0 0 !important;
}

.download_section .iphone {
    text-align: right;
    margin-bottom: 30px;
}

.download_section .iphone img {
    height: 485px;
    object-fit: contain;
}

.download_section .download-section-text-container {
    text-align: left;
}

.download_section .download_section_heading {
    font-family: OpenSans-Extrabold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    line-height: 1.1;
    letter-spacing: -0.4px;
    color: #000000;
    margin-top: 100px;
    height: 60px;
}

.download_section .download_section_text {
    font-family: OpenSans-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.4;
    color: #000000;
    float: left;
}

img.app_img {
    width: 150px;
    border-radius: 5px;
}

.app_section {
    text-align: center !important;
    float: left;
    margin-right: 20px;
}

.footer_section {
    margin: 20px 0 !important;
}

.menutabs a {
    text-decoration: none;
    font-family: OpenSans-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    color: #000000;
    margin-right: 12px;
}

.socialnw img {
    margin-right: 4%;
}

.stockalmail, .socialnw, .menutabs {
    text-align: center;
}

.stockalmail img {
    margin-right: 2%;
}

.copyright {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.error_img_section {
    text-align: center !important;
}

.error_img_section img {
    width: 400px;
}

.error_heading {
    letter-spacing: 0.5px;
    font-size: 40px;
    font-family: OpenSans-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.error_desc {
    font-family: OpenSans-Light, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 1.2;
    margin: 20px 0;
}

.stock_search_heading {
    font-family: OpenSans-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: .9;
    letter-spacing: -.6px;
    color: #00ffc7;
    padding: 10px 0;
}

.error_info {
    margin-top: 20px !important;
}

.stock_search_section {
    margin: 20px 0 160px !important;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
    overflow-y: auto;
    max-height: 160px;
}

/* ----------------------------------------------------------------------------------------------------------- */
/*Media Queries*/
/*Tab*/
@media only screen and (max-device-width: 1023px) and (min-device-width: 768px) {
    .hero_section_heading {
        margin-top: 50px;
    }

    .app_statement {
        font-size: 15px;
    }

    .trending_box[data-index="0"] {
        height: 210px;
    }

    .trending_box[data-index="1"] {
        height: 210px;
    }

    .error_desc {
        font-size: 22px;
    }
}

/*Mobile*/
@media only screen and (max-device-width: 767px) {
    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
    }

    .nav_menuitem {
        text-align: center;
        margin-top: 10px;
    }

    .nav_item {
        margin-top: 10px;
    }

    .react-autosuggest__input {
        font-size: 15px;
    }

    .search_btn {
        font-size: 15px;
    }

    .hero_section_heading {
        margin-top: 20px;
    }

    .app_link {
        font-size: 20px;
    }

    .app_statement {
        font-size: 15px;
    }

    .trending_section_sub_header {
        text-align: left;
    }

    .trending_box[data-index="0"] {
        height: 210px;
    }

    .trending_box[data-index="1"] {
        height: 210px;
    }

    .left_container, .right_container {
        width: 100%;
        margin-top: 5px;
    }

    .trending_box_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90px;
        height: 130px;
    }

    .trending_box .confidence_meter {
        font-family: OpenSans-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }

    .trending_box .symbol {
        font-family: OpenSans-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #ffffff;
        height: 26px;
        margin-top: 5px;
    }

    .trending_box .symbol span {
        background-color: #1b1b1b;
        padding: 0 5px;

    }

    .trending_box .price {
        font-size: 16px;
        font-family: OpenSans-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: left;
    }

    .trending_box .price_change {
        font-size: 14px;
        text-align: left;
        margin-top: 5px;
    }

    .trending_box .name {
        display: none;
    }

    .download_section .download-section-text-container {
        text-align: center;
    }

    .download_section .iphone {
        text-align: center;
    }

    .download_section .download_section_heading {
        font-size: 26px;
        margin: 0;
        height: 30px;
    }

    .download_section .download_section_text {
        font-size: 20px;
    }

    .error_img_section img {
        width: 250px;
    }

    .error_heading {
        font-size: 30px;
    }

    .error_desc {
        font-size: 18px;
    }

    .stock_search_heading {
        font-size: 30px;
    }

    .hero_section_search .search_btn, .stock_search_input .search_btn {
        font-size: 16px;
    }

    .stock_search_section {
        margin: 10px 0 135px !important;
    }

    .app_section {
        width: 100%;
        margin: 0;
    }
}
