ul {
    list-style: none inside;
}

.search-heading {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 20px 0;
}

.search-filter-container{
    margin: 20px 0;
}

.search-filter-list .category.full-width{
    width: 100%;
}

.search-filter-list .category.half-width{
    width: 50%;
}

.search-filter-list .category-header {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    padding: 7px 0;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}

.search-filter-list, .search-filter-list .category-items{
    margin: 0;
    padding: 0
}

.search-filter-list .item {
    line-height: 20px;
    cursor: pointer;
    position: relative;
    color: #7f7f7f;
    font-size: 14px;
    float: left;
    border: 1px solid #E6E6E6;
    border-radius: 25px;
    padding: 5px 10px;
    margin: 5px;
}

.search-filter-list .item:hover {
    border: 1px solid #00FFC7;
    color: #00FFC7;
}
.search-filter-list .item.active {
    border: 1px solid #00FFC7;
    background-color: #00FFC7;
    color: #FFFFFF;
}

.search-button-container > input[type="button"] {
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    background: #00FFC7;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 20px;
}

/*Mobile*/
@media only screen and (max-device-width: 767px) {
    .search-heading {
        font-size: 15px;
        letter-spacing: 1px;
        padding: 10px 0;
    }
    .category-header {
        padding: 3px 0;
        letter-spacing: 0.5px;
    }

    .search-filter-list .category.half-width{
        width: 100%;
    }
}