
.search-heading {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 20px 0;
}

 .each-stock-container{
    height: 100px;
    line-height: 1.2em;
    margin-bottom: 15px;
    border: 5px solid #00FFC7;
}
 
.each-stock-container:hover {
    background-color: #F3F3F3;
}

.stock-price{
    font-weight: bold;
    font-size: 17px;
}

.stock-target-price{
    font-weight: bold;
    font-size: 17px;
}

.stock-confidence-meter {
    font-size: 17px;
    font-weight: bold;
}

.each-stock-container{
    height: 100px;
    line-height: 1.2em;
    margin-bottom: 15px;
}

.each-stock-container > div {
    padding: 10px;
    float: left;
    height: 100%;
}

.each-stock-container > div:not(:last-child)  > div:first-child{
    height: 50%;
}

.each-stock-container > div:not(:first-child):not(:last-child) {
    text-align: center;
}

.each-stock-container > .stock-name-container {
    width: 25%;
    background: #00FFC7;
}

.each-stock-container .stock-name{
    font-size: 14px;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (2) */
    height: 2.4em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    padding-right: 1em;
    word-break: break-word;
}
.each-stock-container .stock-name:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}

.each-stock-container .stock-name:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 2em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: #00FFC7;
}

.each-stock-container > .stock-confidence-meter-container{
    width: 16%;
}

.each-stock-container > .stock-price-container {
    width: 16%;
}

.each-stock-container > .stock-target-price-container {
    width: 16%;
}

.each-stock-container > .stock-sentiment-container{
    width: 16%;
}

.each-stock-container .stock-favourite-icon-container {
    width: 11%;
    height: 100%;
}

.stock-code > span{
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background: #000000;
    padding: 0 5px;
    border-radius: 3px;
}

.stock-sentiment {
    font-size: 50px;
}

.stock-favourite-icon-container >.stock-favourite-icon {
    height: 100%;
    font-size: 30px;
    padding: 20px 0;
    color: #999999;
    text-align: center;
}

.see-all-button > input[type="button"] {
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    background: #00FFC7;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 20px;
}

/*Mobile*/
@media only screen and (max-device-width: 767px) {

    .each-stock-container > .stock-name-container {
        width: 40%;
    }

    .each-stock-container > .stock-confidence-meter-container{
        display: none;
    }

    .each-stock-container > .stock-price-container {
        width: 35%;
    }

    .each-stock-container > .stock-target-price-container {
        display: none;
    }

    .each-stock-container > .stock-sentiment-container{
        display: none;
    }

    .each-stock-container .stock-favourite-icon-container {
        width: 25%;
    }
}